:root {
  --unit: 10rem;
  --grid-gap: 20px;
  --carousel-dot-color: #ffffff;
  --tall-unit-height: calc((var(--unit) * 2) + var(--grid-gap));
  --tall-unit-width: var(--unit);
  --long-unit-height: var(--unit);
  --long-unit-width: calc((var(--unit) * 2) + var(--grid-gap));
  --large-unit-height: calc((var(--unit) * 2) + var(--grid-gap));
  --large-unit-width: calc((var(--unit) * 2) + var(--grid-gap));
  --large-long-unit-height: calc((var(--unit) * 3));
  --large-long-unit-width: calc((var(--unit) * 2));
  --mini-unit-height: calc(var(--unit) / 2);
  --mini-unit-width: calc(var(--unit) / 2);
  --title-gradient: linear-gradient(to right, #ffb6c1, #87cefa);
  --galgalatz-title-gradient: linear-gradient(-120deg, #ffd61c, #51305f);
  --galgalatz-purple: #51405f;
  --galgalatz-yellow: #ffd61c;
  --background-color: #f5f5f5;
  --tile-background-color: #ffffff;
  --main-text-color: #000000;
  --secondary-text-color: #444444;
  --tertiary-text-color: #c2c2c2;
  --tile-boxshadow-color: rgba(0, 0, 0, 0.25);
  --spotify-background: #1db954;
  --spotify-text: #191414;
  --spotify-tertiary-text-color: #191414;
  --spotify-last-played-color: #ffffff;
  --spotify-song-text: #191414;
  --news-header-background: #dd0000;
  --news-header-text: #eeeeee;
  --news-content-background: #eeeeee;
  --news-content-text: #444444;
  --news-scrollbar: #444444;
}

html {
  width: 100vw;
  overflow-x: hidden;
  cursor: default;
  user-select: none;
  font-family: "system-ui", sans-serif;
}

body {
  transition: 500ms;
  font-size: 15px !important;
  background-color: var(--background-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header {
  height: 0;
  top: 0;
}

main {
  max-width: 1000px;
  width: 100%;
  margin-bottom: 5vh;
  margin-top: 3vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid {
  display: grid;
  position: relative;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(var(--unit), calc(100% / 7)));
  grid-template-rows: repeat(auto-fit, minmax(var(--unit), 5fr));
  grid-auto-rows: var(--unit);
  grid-auto-flow: dense;
  grid-gap: var(--grid-gap);
  margin: 0 auto;
}

@media screen and (max-width: 1190px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(var(--unit), calc(100% / 6)));
    width: calc(var(--unit) * 2);
  }
}

@media screen and (max-width: 740px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(var(--unit), calc(100% / 5)));
    width: var(--unit);
  }
}

.dark {
  --carousel-dot-color: #000000;
  transition: 400ms;
  --background-color: #1d1d1d;
  background-color: #1d1d1d;
  --tile-background-color: #2c2c2e;
  --main-text-color: #ffffff;
  --secondary-text-color: #444444;
  --tertiary-text-color: #c2c2c2;
  --tile-boxshadow-color: rgba(255, 255, 255, 0.25);
  --spotify-background: #191414;
  --spotify-text: #1db954;
  --spotify-tertiary-text-color: #c2c2c2;
  --spotify-last-played-color: #1db954;
  --spotify-song-text: #ffffff;
  --news-header-background: #2c2c2e;
  --news-header-text: #dd0000;
  --news-content-background: #2c2c2e;
  --news-content-text: #eeeeee;
  --news-scrollbar: #dd0000;
}

.footer {
  color: var(--tertiary-text-color);
}

.toggle-switch {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 24px;
  margin: 0 10px;
}

.toggle-switch input {
  display: none;
}

.toggle-switch-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: var(--tertiary-text-color);
}

.toggle-switch-switch {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  transition: left 0.25s;
}

.toggle-switch input:checked + .toggle-switch-inner {
  background-color: #4bd763;
  box-shadow: 0 0 2px rgba(255, 255, 255, 1);
}

.toggle-switch input:checked + .toggle-switch-inner + .toggle-switch-switch {
  left: calc(100% - 22px);
}

.tile {
  background-color: var(--tile-background-color);
  font-weight: bolder;
  color: var(--main-text-color);
  box-shadow: 0 0 15px var(--tile-boxshadow-color);
  border-radius: 20px;
  transition: 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--unit);
  height: var(--unit);
  overflow: hidden;
}

.tile:hover {
  transform: scale(1.075);
}

.large-tile:hover {
  transform: scale(1.05);
}

.large-long-tile:hover {
  transform: scale(1.045);
}

.long-tile {
  grid-row: span 1;
  grid-column: span 2;
  height: var(--long-unit-height);
  width: var(--long-unit-width);
}

.tall-tile {
  grid-row: span 2;
  grid-column: span 1;
  height: var(--tall-unit-height);
  width: var(--tall-unit-width);
}

.large-tile {
  grid-row: span 2;
  grid-column: span 2;
  height: var(--large-unit-height);
  width: var(--large-unit-width);
}

.large-long-tile {
  grid-row: span 3;
  grid-column: span 2;
  height: var(--large-long-unit-height);
  width: var(--large-long-unit-width);
}

#introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100%;
  height: 100%;
}

#introduction h1,
.education-tile h1,
#employment h1 {
  background-image: var(--title-gradient);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

#introduction h1 {
  font-size: 25px;
}

#introduction p {
  color: var(--main-text-color);
  margin: 15px;
  text-align: center;
}

.carousel-container,
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.img-container {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#github-tile {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #ffffff;
  height: 100%;
  width: 100%;
}

.github-logo {
  color: #ffffff;
  font-size: 35px;
  position: relative;
  top: 15px;
}

.github-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40%;
}

.github-username {
  margin: 0;
}

.github-info2 * {
  text-align: center;
  margin: 0;
  color: rgba(117, 117, 117, 0.75);
  font-size: x-small;
}

.education-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 10px;
}

#cyberpro-img {
  width: 90%;
}

#colman-img {
  width: 60%;
}

#employment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
}

#work-pictures {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#work-pictures a img {
  width: 70%;
  max-width: 100%;
}

.leaflet-control-container {
  display: none;
}

.social {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#linkedin-tile {
  background-color: #0077b5;
}

#linkedin-pic,
#facebook-pic,
#instagram-pic {
  font-size: 50px;
  color: white;
}

#facebook-tile {
  background-color: #3b5998;
}

#instagram-tile {
  background: linear-gradient(25deg, #fcb045, #fd1d1d, #833ab4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#spotify-artists-tile,
#spotify-songs-list,
#spotify-songs-tile {
  background: var(--spotify-background);
  color: var(--spotify-text);
}

#spotify-artists-tile {
  width: 95%;
  height: 97%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.spotify-artists-header {
  position: relative;
  margin: 0;
  margin-top: -5%;
  padding: 0;
  width: 100%;
}

#spotify-artists-header-text {
  position: relative;
  margin-left: -15%;
  margin-bottom: 5%;
}

#spotify-artists-logo,
#spotify-songs-list-logo {
  position: absolute;
  font-size: 30px;
}

#spotify-artists-logo {
  top: 30%;
  right: 3%;
}

.scroll-container {
  width: 90%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  scrollbar-color: var(--spotify-text) transparent;
}

#spotify-artists-container {
  width: 75%;
  height: auto;
  scrollbar-width: thin;
}

#spotify-artists-table {
  width: 75%;
  color: var(--spotify-song-text);
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: 0;
}

#spotify-artists-table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#spotify-artists-table tr {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

#spotify-artists-table td {
  text-align: center;
  font-size: 0.9em;
}

#spotify-artists-table td img {
  width: 60px;
  height: 60px;
  border-radius: 15%;
  object-fit: cover;
}

#spotify-artists-table td a,
#spotify-songs-table td a {
  color: var(--spotify-song-text);
}

#spotify-songs-list {
  width: 97%;
  height: 98%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.spotify-songs-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#spotify-songs-list-logo {
  top: 3%;
  right: 5%;
}

#spotify-songs-table {
  width: 100%;
  color: var(--spotify-song-text);
  border-collapse: collapse;
}

#spotify-songs-table td:nth-child(1) {
  width: 50px;
}

#spotify-songs-table td:nth-child(3) {
  color: var(--spotify-tertiary-text-color);
  font-weight: lighter;
}

#spotify-songs-table td img {
  border-radius: 15%;
  width: 75%;
}

#spotify-songs-tile {
  width: 97%;
  height: 94%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#spotify-album-art {
  max-width: 40%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10px;
  margin: 13px;
}

.spotify-songs-right {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

#spotify-songs-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: var(--spotify-text);
}

.spotify-songs-right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10%;
  margin: 0;
}

.spotify-lastplayed-container {
  color: var(--spotify-last-played-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spotify-lastplayed-text {
  margin: 5px 0;
  font-size: 0.8em;
}

.spotify-song-title {
  margin: 5px 0;
  color: var(--spotify-song-text);
  font-size: 1.2em;
}

.spotify-song-artist {
  margin: 5px 0;
  color: var(--spotify-tertiary-text-color);
  font-size: 1em;
}

#spotify1,
#spotify2,
#spotify3 {
  width: 3px;
  border-radius: 1.5px;
  background-color: var(--spotify-last-played-color);
  margin-right: 3px;
}

#spotify1 {
  animation: soundBounce 0.8s infinite;
}

#spotify2 {
  animation: soundBounce 1s infinite;
}

#spotify3 {
  animation: soundBounce 1.2s infinite;
}

@keyframes soundBounce {
  0% {
    height: 3px;
  }

  50% {
    height: 12px;
  }

  100% {
    height: 3px;
  }
}

#galgalatz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
  background-image: var(--galgalatz-title-gradient);
}

#galgalatz h1 {
  background-color: black;
  -webkit-text-fill-color: var(--galgalatz-yellow);
  -webkit-text-stroke-color: var(--galgalatz-yellow);
  text-shadow: var(--galgalatz-purple) 0 0 5px;
  font-size: 1.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

#galgalatz i {
  font-size: 2rem;
}

#news-list {
  width: 100%;
  background: var(--news-header-background);
  color: var(--news-header-text);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  position: relative;
  overflow: hidden;
}

.news-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.news-scroll-container {
  width: 97%;
  height: 98.5%;
  border-radius: 2%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  background-color: var(--news-content-background);
  color: var(--news-content-text);
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

.news-scroll-container::-webkit-scrollbar {
  width: 0;
}

#news-list:hover .news-scroll-container {
  scrollbar-color: var(--news-scrollbar) transparent !important;
}

#news-list:hover .news-scroll-container::-webkit-scrollbar {
  width: 10px;
}

#news-list:hover .news-scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--news-scrollbar);
  border-radius: 10px;
}

#news-table td {
  padding: 5px;
  height: 60px;
  vertical-align: middle;
  text-align: right;
}

#news-table td:nth-child(1) {
  color: var(--news-content-text);
}

#news-table td:nth-child(2) {
  width: 50px;
}

#news-table td:nth-child(2) img {
  width: 50px;
  height: 35px;
  object-fit: cover;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.news-meta {
  font-size: 0.7rem;
  color: var(--secondary-text-color);
  margin-top: 0.25rem;
}
